.login-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1rem;
}

.login-container input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.login-container button {
  width: 100%;
  padding: 0.6rem;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#loginMessage {
  margin-top: 1rem;
  color: red;
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
}
nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: all 0.3s ease;
} 
nav a:hover {
  background-color: lightsalmon;
  border-radius: 5px;
}
#tasklist {
  background-color: #faddae;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2 10px rgba(0,0,0,0.1);
}
#progress {
  background-color: rgb(248, 190, 214);
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 2 10px rgba(0,0,0,0.1);
}
footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  #tasklist, #progress {
    flex-direction: column;
    align-items: center;
  }
}
.task-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

