.login-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1rem;
}

.login-container input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.login-container button {
  width: 100%;
  padding: 0.6rem;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#loginMessage {
  margin-top: 1rem;
  color: red;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  padding: 70px;
}
 body {
            font-family: Arial;
            display: flex;
            gap: 20px;
            padding: 20px;
            background: #f4f4f4;
        }

        .column {
            background: rgb(255, 249, 249);
            padding: 15px;
            width: 30%;
            border-radius: 8px;
            min-height: 300px;
        }

        h2 {
            text-align: center;
        }

        .task {
            background: #9b9191;
            padding: 8px;
            margin: 8px 0;
            border-radius: 5px;
        }

        .task small {
            display: block;
            color: #c5c0c0;
        }

        .buttons {
            margin-top: 5px;
        }

        button {
            font-size: 12px;
            margin-right: 5px;
        }

        #inputSection {
            position: fixed;
            top: 10px;
            left: 50%;
            background: white;
            padding: 10px;
            border-radius: 80px;
            
        }

        input {
            margin-right: 5px;
        }