.login-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1rem;
}

.login-container input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.login-container button {
  width: 100%;
  padding: 0.6rem;
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#loginMessage {
  margin-top: 1rem;
  color: red;
}
h1{
  text-align: left;
}
p{
  text-align: center;
  padding: 70px;
}
 body {
            font-family: Arial;
            padding: 20px;
            background: #f4f4f4;
            display: flex;
            flex-direction: column;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        main {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        #inputSection {
            width: 100%;
            background: white;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;
        }

        #inputSection input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #inputSection button {
            padding: 8px 15px;
            background: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #inputSection button:hover {
            background: #2980b9;
        }

        .column {
            background: #e2dcdc;
            padding: 15px;
            border-radius: 8px;
            flex: 1;
            min-width: 250px;
        }

        h2 {
            text-align: center;
            margin-top: 0;
        }

        .task {
            background: #9b9191;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            color: white;
        }

        .task strong {
            display: block;
            margin-bottom: 5px;
        }

        .task small {
            display: block;
            color: #e0e0e0;
            font-size: 12px;
            margin-bottom: 8px;
        }

        .buttons {
            margin-top: 8px;
            display: flex;
            gap: 5px;
        }

        .buttons button {
            font-size: 12px;
            padding: 5px 10px;
            background: #666;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .buttons button:hover {
            background: #555;
        }